/* 把所有的有 margin 的區塊元素 margin 變 0 ，可和 reset 檔案 擇一 */
*,
*::before,
*::after {
  /* 寫最前面 */
  margin: 0;
  padding: 0;
  outline: 1px solid rgb(120, 4, 4);
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 1px;
}



body {
  background-color: black;
}



#header {
  width: 100%;
  height: 60px;
  /* background: rgb(171, 171, 171); */
  position: fixed;
  left: 0;
  top: 0;
  font-size: 0;
}

/* #bigbox {
  width: 100%;
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;

} */

#selector {
  width: calc(100vw - 248px);
  height: 60px;
  /* background: rgb(173, 230, 220); */
  position: fixed;
  right: 0;
  top: 60px;
  padding: 0 24px;
}



#sidebar {
  /* view port height */
  height: calc(100vh - 60px);
  width: 248px;
  /* background: lightgoldenrodyellow; */
  left: 0;
  top: 60px;
  position: fixed;
  overflow: auto;
}

#container {
  /* position: fixed; */
  right: 0;
  top: 60px;
  width: calc(100vw - 248px);
  margin-left: 248px;
  margin-top: 120px;
}

.content {
  width: calc(100vw - 248px);
  margin-right: auto;
  margin-left: auto;
  display: block;
  /* position: fixed; */
  right: 0;
  top: 120px;
  color: white;
  font-size: 0;
  /* 消除幽靈空白 */
}

/* --------------------- */
#first {
  background-color: darkblue;
  width: 244px;
  height: 60px;
  display: block;
  float: left;
}

#medium {
  background-color: darkgreen;
  width: calc(100% - 444px);
  height: 60px;
  display: block;
  float: left;
}

#medium input {
  width: 600px;
  height: 36px;
  appearance: none;
  border: none;
  border-radius: 16px;
  background-color: #464646;
  color: white;
  font-size: 1rem;
}

/* 改變搜尋的預設文字 placeholder 的顏色 */
::placeholder {
  color: #ffffff;
}


#last {
  background-color: darkslategray;
  width: 200px;
  height: 60px;
  display: block;
  float: right;

}

#header p {
  position: absolute;
  color: #6c6c6c;
  font-size: 10px;
  left: 176px;
  top: 16px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 600;
}

#menu {
  position: absolute;
  width: 32px;
  left: 12px;
  top: 12px;
}

#logo {
  position: absolute;
  width: 112px;
  left: calc(12px + 32px + 12px);
  top: 16px;
}


#selector a {
  background-color: white;
  border-radius: 8px;
  padding: 8px 12px;
  text-align: center;
  margin: 5px;
  background-color: #282828;
  color: white;
  line-height: 60px;
}

#selector a:hover {
  background-color: #464646;
  color: white;
}

#selector a:link {
  text-decoration: none;
}


/* SIDEBAR -------------------------------------*/

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar li {
  border-radius: 8px;
  height: 2.5rem;
  width: 90%;
  line-height: 2.5rem;
  padding-left: 20px;

}

#sidebar a {
  line-height: 2.5rem;
  display: block;
  color: white;
}

#sidebar a:hover {
  border-radius: 8px;
  background-color: #282828;
}

#sidebar a:link {
  color: white;
  text-decoration: none;
  border-radius: 8px;
  /* background-color: darkmagenta; */
}

#sidebar .title {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  margin: 0;
  background-color: light;
  color: white;
}

#sidebar .icon {
  margin-right: 20px;
}



.box {
  padding: 12px;
  border-bottom: 1px solid gray;
}

.list img {
  /* background-color: blue; */
  width: 20px;
  height: 20px;
  transform: translateY(20%);
}

/* .item {
  width: 100%;
} */

.copyright {
  padding: 12px;

}

.card {
  display: inline-block;
  width: 384px;
  height: 312px;
  /* background-color: aqua; */
  margin: 16px 8px;
  /* z-index: 5; */
  font-size: 1rem;
  color: white;
}

.video {
  width: 384px;
  height: 220px;
}


.card img {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.8rem;
  background-color: #282828;
}

.avatar img {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  position: absolute;
  margin: 5px;
  background-color: #282828;
}

.details {
  width: 384px;
  height: 90px;
  margin-top: 5px;
  /* background-color: rgb(202, 162, 113); */
  position: relative;
}


.meta {
  position: absolute;
  /* 記得在父元素加 relative */
  left: 72px;
}


.vtitle {
  line-height: 1.3;
  font-size: 1rem;
  width: 300px;
  min-height: 20px;
  /* background-color: rgb(60, 255, 0); */
  margin: 3px 0;
}

.channel {
  line-height: 1.3;
  font-size: 0.9rem;
  width: 300px;
  height: 20px;
  /* background-color: rgb(195, 173, 173); */
}

.meta-line {
  line-height: 1.3;
  font-size: 0.9rem;
  width: 300px;
  height: 20px;
  /* background-color: lightcoral; */
}